/* imports */
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500;600&display=swap'); 


:root {
    /* active input border */
    --active: linear-gradient(to bottom,white, white), linear-gradient(to top, hsl(278, 94%, 30%) , hsl(249, 99%, 64%));
    /* input errors */
    --red: hsl(0, 100%, 66%);
    /* neutral */
    --white: hsl(0, 0%, 100%);
    --light-grayish-violet: hsl(270, 3%, 87%);
    --dark-grayish-violet: hsl(279, 6%, 55%);
    --very-dark-violet: hsl(278, 68%, 11%);
}


* {
    box-sizing: border-box;
}


body{
    display: grid;
    place-items: center;
    min-height: 100vh;
    color: var(--white);
    font-family: 'Space Grotesk', sans-serif;
    font-size: 1.125rem;
    background: var(--white);
}


h1 {
    font-size: 1rem;
    margin-block: auto;
    font-size: .6rem;
    text-transform: uppercase;
    color: var(--white);
    font-weight: normal;
}


img {
    max-width: 100%;
}


main {
    width: 360px;
}



.bg_back {
    width: 100%;
    position: relative;
    
}


label {
    text-transform: uppercase;
    font-size: .7rem;
}


.card_back {
    width: 14em;
    position: absolute;
    top: 2.6em;
    left: 5.3em;
    bottom: 0;
    filter: drop-shadow(1px 0 0.95rem var(--light-grayish-violet));
    
}


.cvc_no {
    color: var(--light-grayish-violet);
    transform: translate(298px, -126px);
    font-size: .5rem;
    letter-spacing: .1em;
    /* border: 1px solid black; */
    /* z-index: 1; */
}


.card_ {
    background: url('./images/bg-card-front.png') no-repeat 46% 1% ;
    width: 16em;
    filter: drop-shadow(7px 0 0.65rem var(--dark-grayish-violet));
    height: 155px;
    border-radius: .3em;
    display: grid;
    place-items: center;
    transform: translate(0, -122px);
    margin-inline-start: 1em;
    z-index: 3;
    /* display: none; */
}


.card_details {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 1em;
}


.logo {
    width: 3em;
    /* padding-inline-start: 1em; */
}


.card_no {
    letter-spacing: .15em;
    margin-block-start: 1em;
}


.front_card_details {
    display: flex;
    justify-content: space-between;
    color: var(--light-grayish-violet);
}


.card_date {
    margin-block: auto;
    font-size: .6rem;
}


form {
    color: var(--very-dark-violet);
    display: grid;
    gap: .7em;
    padding: 0 1em 3em 1em;
    margin-block-start: -5em;
}

input {
    cursor: pointer;
    appearance: none;
    display: block;
    width: 330px;
    border: 2px double var(--light-grayish-violet);
    padding: .7em;
    border-radius: .4em;
    margin-block-start: .6em;
    outline: none;
}


input:focus {
    border-color: transparent;
    background: var(--active);
    background-clip: padding-box,border-box;
}


input::placeholder {
    color: var(--dark-grayish-violet);
    font-weight: 500;
    font-family: 'Space Grotesk', sans-serif;
}

input[type=number] {
    appearance: textfield;
}


.error {
    font-size: .6rem;
    color: var(--red);
    display: block;
    height: 2px;
}


.date_ {
    display: flex;
    gap: 4px;
}


.date_ input {
    width: 3.5em;
}


.cvc_ {
    margin-inline-start: .4em;
}


.date_ #cvc_number {
    width: 8em;
}


button {
    text-align: center;
    padding: 1em 2em;
    background-color: var(--very-dark-violet);
    border: none;
    outline: none;
    border-radius: .3em;
    color: var(--white);
    font-family: 'Space Grotesk', sans-serif;
    margin-block-start: 1em;
    cursor: pointer;
}

.continueLink {
    text-align: center;
    padding: .8em 2em;
    background-color: var(--very-dark-violet);
    border: none;
    outline: none;
    border-radius: .3em;
    color: var(--white);
    font-family: 'Space Grotesk', sans-serif;
    margin-block-start: 1em;
    cursor: pointer;
    text-decoration: none; 
    width: 15em;  
}


/* complete task */

.complete {
    display: grid;
    place-items: center;
}

.complete_username {
    text-transform: uppercase; margin-top:-.6em;
}
/* media queries */

@media (min-width:900px) {
    body {
        margin: 0;
    }

    main {
        display: grid;
        grid-template-columns: minmax(360px, 25%) 1fr;
        place-items: center;
        gap: 1em;
        width: 100%;
        max-width: 1100px;
    }


    form {
        margin-block-start: -20em;
        padding: 0;
        margin-inline-start: 5em;
    }


    .card_ {
        background-position: 80% 30%;
        transform: translate(125px, -750px);
    }


    .card_back {
        position: initial;
        transform: translate(235px, -410px);
        width: 15em;
    }


    button {
        margin: 0;
    }


    .cvc_no {
        transform: translate(447px, -496px); 
        /* border: 1px solid black; */
        width: fit-content;  
    }

    
}

